[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "smart-contracts/lib/solmate"]
	path = smart-contracts/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "smart-contracts/lib/openzeppelin-contracts"]
	path = smart-contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
